<div class="nav nav-tabs mb-3">
    <span class="nav-item">
        <a class="nav-link" routerLink="./" routerLinkActive="active">Inicio</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" routerLink="./products" routerLinkActive="active">Productos</a>
    </span>
    <span class="nav-item" >
        <a class="nav-link" routerLink="./info" routerLinkActive="active">Información</a>
    </span>
    <span class="nav-item" >
        <a class="nav-link" routerLink="./members" routerLinkActive="active">Miembros</a>
    </span>
</div>
