<section class="container">
    <!-- Portada -->
    <section >
        
        <app-enterprise-cover></app-enterprise-cover>
        <app-enterprise-submenu style="position: sticky;"></app-enterprise-submenu>
        <section >
            <router-outlet></router-outlet>
        </section>
    </section>
</section>
