<section class="container py-2">
    <section *ngIf="enterprises.length">
        <div class="row mb-3">
            <div class="col d-flex justify-content-between">
                <span class="text-dark h5">Mis Empresas ({{enterprises.length}})</span>
                <a class="btn btn-primary" routerLink="./create">Crear</a>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-12 col-lg-6 pb-2" *ngFor="let enterprise of enterprises">
                <app-enterprise-integra [data]="enterprise" (reload)="reload()"></app-enterprise-integra>
            </div>
        </div>
    </section>

    <button (click)="relationship()">relationship</button>
    <section *ngIf="!enterprises.length">
        <app-create-form></app-create-form>
    </section>
</section>


