<div *ngIf="data">

</div>
<div *ngIf="data" class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-start">
        <div class="left-image" >
            <img [src]="userImage()" />    
        </div>
        <div class="py-1 px-3">
            <span class="d-block font-weight-bold h6 mb-0">{{data.user.firstname + ' ' + data.user.lastname}}</span>
            <span class="d-block text-secondary small">{{data.role.description}}</span>
        </div>
    </div>
    <div class="">
        <button class="btn btn-light border">Editar</button>
    </div>
</div>