<div *ngIf="!data">

</div>
<div *ngIf="data">
    <!-- basic information -->
    <div class="border">
        <div class="bg-light py-2 px-3 border-bottom">
            <div class="h4">Información</div>
        </div>
        
        <div class="py-2 px-3">
            <div class="row" *ngFor="let property of properties">
                <div class="col-12" *ngIf="!property.editting">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="text-secondary pr-4">{{property.title}}</span>
                            <span class="text-dark">{{data[property.name]}}</span>
                        </div>
                        <div class="">
                            <span class="btn btn-link" (click)="setEdit(property)">Editar</span>
                        </div>    
                    </div>
                </div>
                <div class="col-12" *ngIf="property.editting">
                    <form (submit)="update(property)">
                        <div class="row">
                            <div class="col-12 col-sm-5 col-md-3">
                                {{property.title}}
                            </div>
                            <div class="col-12 col-sm-7 col-md-9">
                                <input [readOnly]="property.proccess.state === 'sent'" [(ngModel)]="property.mirror[property.name]" name="{{property.name}}" type="text" class="form-control" >
                            </div>
                            <div class="col"> <hr /> </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <input [disabled]="property.proccess.state === 'sent'" type="submit" class="d-inline-block btn btn-sm btn-primary" value="Guardar" />
                                    <span (click)="property.editting = !property.editting" class="d-inline-block btn btn-sm btn-secondary">Cancelar</span>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <hr class="my-1">
                </div>
            </div>
        </div>
        
        
    </div>
</div>
