<div class="container" *ngIf="users">
    <div class="row" *ngFor="let user of users.list">
        <div class="col">
            <users-user-unit [data]="user"></users-user-unit>
        </div>
        
    </div>
</div>