<section class="container" *ngIf="operation">
  <div class="row">
      
      <div class="col">
        <div class="pt-3">
          <span class="h3 font-weight-bold">Validar</span>
          <div class="">
            Escribe el código que ha llegado a tu correo electrónico:
          </div>
          <form style="font-size:0.8rem;"
            [formGroup]="validateForm"
            (submit)="validate()"
            novalidate>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Código</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="code" matInput placeholder="" >
                  <mat-error *ngIf="proccess.error.code">{{proccess.error.code}}</mat-error>
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col">
                <button [disabled]="proccess.state === 'sent'" class="btn btn-primary form-control" >Validar</button>
              </div>
            </div>
            
          </form>
        </div>        
      </div>
  </div>
  
</section>
<section class="container" *ngIf="!operation">
  No hay ninguna validación pendiente
</section>
