<div *ngIf="data">

</div>
<div *ngIf="data" class="py-2 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-start">
        <div class="left-image" >
            <img [src]="userImage()" />    
        </div>
        <div class="py-1 px-3">
            <span class="d-block font-weight-bold h6 mb-0">{{data.firstname + ' ' + data.lastname}}</span>
            
        </div>
    </div>
    <div class="">
        <span *ngIf="isCurrent">

        </span>
        <span *ngIf="!isCurrent">
            <span *ngIf="currentShips.ships.length" >Amigo</span>
            <span *ngIf="!currentShips.ships.length">
                <button *ngIf="!currentShips.requests"
                    class="btn btn-light border"
                    [disabled]="requestProccess.state == 'sent'"
                    (click)="requestShip()">Make Friend</button>
                <span *ngIf="currentShips.requests">
                    <span *ngIf="currentShips.requests.type == 'requester'"
                        class="small">
                        Solicitud enviada
                    </span>
                    <span *ngIf="currentShips.requests.type == 'requesting'">
                        <span class="btn btn-primary btn-sm" (click)="acceptRequest(currentShips.requests)">Confirmar</span>
                        <span class="btn btn-secondary btn-sm" (click)="removeRequest(currentShips.requests)">Eliminar Solicitud</span>
                    </span>
                </span>
                
            </span>
        </span>
    </div>
</div>