<section class="container">
  <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="pt-3">
          <span class="h3 font-weight-bold">Regístrate</span>
          <form style="font-size:0.8rem;"
            [formGroup]="registerForm"
            (submit)="register()"
            novalidate>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Nombres</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="firstname" matInput placeholder="" >
                  <mat-error *ngIf="proccess.error.firstname">{{proccess.error.firstname}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Apellidos</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="lastname" matInput placeholder="" >
                  <mat-error *ngIf="proccess.error.lastname">{{proccess.error.lastname}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Correo</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="account" matInput placeholder="" >
                  <mat-error *ngIf="proccess.error.account">{{proccess.error.account}}</mat-error>
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Nueva contraseña</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="password" matInput type="password" placeholder="" >
                  <mat-error *ngIf="proccess.error.password">{{proccess.error.password}}</mat-error>
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Confirmar contraseña</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="confirm_password" matInput type="password" placeholder="" >
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input [readOnly]="proccess.state === 'sent'" formControlName="birthdate" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="proccess.error.birthdate">{{proccess.birthdate}}</mat-error>
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col">
                <button [disabled]="proccess.state === 'sent'" class="btn btn-primary form-control" >Registrar</button>
              </div>
            </div>
            
          </form>
        </div>        
      </div>
  </div>
  
</section>
