<section *ngIf="staticService.status == authStates.Undefined">
    ¡Hubo un problema con el servidor!
</section>
<section *ngIf="staticService.status == authStates.FirstLoading">
    FirstLoading
</section>
<section *ngIf="staticService.status == authStates.Defined || staticService.status == authStates.Loading">
    <section *ngIf="staticService.user">
        <router-outlet></router-outlet>
    </section>
    <section *ngIf="!staticService.user">
        <section *ngIf="!staticService.validated">
            <app-validate></app-validate>
        </section>
        <section *ngIf="staticService.validated">
            <app-register></app-register>
        </section>
    </section>
</section>