.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.stylized-button {
  border-radius: 40px;
  font-size: 1rem;
  padding: 0.70em 0.75rem;
  border-width: 0px;
  color: #eee;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
}

.transparent-button {
  background-color: transparent;
  border-color: transparent;
}

.transparent-button:active {
  background-color: rgba(172, 166, 166, 0.2);
}
.stylized-button:focus {
  outline: 0;
}

.flex-auto {
  flex:auto;
}

.whole {
  height: 100vh;
}

.form-login {
  max-width: 150px;
}

.mat-drawer-container {
  background-color: #fff!important;
}