<mat-sidenav-container
    (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <nav class="navbar-padding navbar navbar-expand navbar-dark bg-primary">
      <button (click)="sidenav.toggle()" class="stylized-button transparent-button" type="button" >
        <span class="fa fa-bars"></span>
      </button>
      
    </nav>
    <mat-nav-list>
      <a *ngFor="let item of menu"
          mat-list-item
          routerLink="{{item.description}}" (click)="sidenav.toggle()">{{item.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="whole d-flex flex-column">
      <!-- Section Header -->
      <section>
        <nav class="navbar-padding navbar navbar-expand navbar-dark bg-primary">
          <button (click)="sidenav.toggle()" class="stylized-button transparent-button" type="button" >
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              
            </ul>
            <section *ngIf="staticService.status == authStates.Defined || staticService.status == authStates.Loading">
              <section *ngIf="staticService.user">
                <div class="d-inline-block" #userMenu="ngbDropdown" ngbDropdown>
                  <button (click)="$event.stopPropagation(); userMenu.open();"
                    class="stylized-button btn-success" style="cursor: pointer" id="userMenuDrop" >
                    <i class="fa fa-user"></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="userMenuDrop" class="dropdown-menu dropdown-menu-right">
                    <a ngbDropdownItem href="javascript:;" (click)="closeSession()">Cerrar Sesión</a>
                  </div>
                </div>
              </section>
              <section *ngIf="!staticService.user">
                <section *ngIf="staticService.validated">
                  <form [formGroup]="loginForm" class="form-inline my-2 my-lg-0"
                      (submit)="login()">
                    <div class="form-login mr-sm-2">
                      <input class="form-control form-login form-control-sm"
                        placeholder="Email o teléfono"
                        type="text"
                        formControlName="account"
                        [readOnly]="proccessLogin.state === 'sent'"
                        [ngClass]="{'is-invalid': checkInvalid('account') }">
                      
                      <span *ngIf="proccessLogin.error.account"
                          class="mt-0 small invalid-feedback position-absolute text-warning">
                        {{proccessLogin.error.account}}
                      </span>
                    </div>
                    
                    <div class="form-login mr-sm-2">
                      <input class="form-control form-login form-control-sm mr-sm-2"
                        placeholder="Contraseña"
                        type="password"
                        formControlName="password"
                        [readOnly]="proccessLogin.state === 'sent'"
                        [ngClass]="{'is-invalid': checkInvalid('password') }">
                      <span *ngIf="proccessLogin.error.password"
                          class="mt-0 small invalid-feedback position-absolute text-warning">
                        {{proccessLogin.error.password}}
                      </span>
                    </div>
                    
                    <button class="btn btn-sm btn-success my-2 my-sm-0"
                      type="submit"
                      [disabled]="proccessLogin.state === 'sent'">Iniciar</button>
                  </form>

                </section>
                  
              </section>
            </section>
            
            
          </div>
        </nav>
      </section>
      <!-- Section Content -->
      <section class="flex-auto">
        <app-content></app-content>
      </section>

      <!-- Section Footer -->
      <section>
        <app-footer></app-footer>
      </section>
    </section>
    
    
  </mat-sidenav-content>
</mat-sidenav-container>