<section >
  <div class="navbar  border-bottom py-3">

    <span class="nav-item">
      Crear una empresa
    </span>
  </div>
  <div class="m-3">
    <div class="row">
      <div class="col-12 col-md-6">
        <div>
          <span class="font-weight-bold h4">
            Empresa
          </span>
        </div>
        <div >
          <span class="">
            Conecta con tus clientes y con las operaciones de tu empresa
          </span>
        </div>
        
      </div>
      <div class="col-12 col-md-6">
        <form style="font-size:0.8rem;"
            [formGroup]="enterpriseForm"
            (submit)="create()"
            novalidate>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre de la empresa</mat-label>
                <input [readOnly]="proccess.state === 'sent'" formControlName="name" matInput placeholder="" >
                <mat-error *ngIf="proccess.error.firstname">{{proccess.error.firstname}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Descripción breve</mat-label>
                <input [readOnly]="proccess.state === 'sent'" formControlName="description" matInput placeholder="" >
                <mat-error *ngIf="proccess.error.description">{{proccess.error.lastname}}</mat-error>
              </mat-form-field>
            </div>
          </div>



          <div class="row">
            <div class="col">
              <span class="small text-secondary">Al crear una empresa en Turbogo, se aplican las Políticas de privacidad</span>
              <button [disabled]="proccess.state === 'sent'" class="btn btn-primary form-control" >Continuar</button>
              <button [disabled]="proccess.state === 'sent'" (click)="resetForm()" >Reset</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>
    
  </div>
  
</section>