<section *ngIf="proccess.state == proccessState.Success" class="p-4">
    <div class="mb-3">
        <unit-add-member ></unit-add-member>
    </div>
    
    <div *ngFor="let rel of list" >
        <unit-member [data]="rel"></unit-member>
        
    </div>
</section>