<div *ngIf="isValid && !isDeleted" class="border rounded">
    <div class="row">
        <div class="ent-col">
            <a routerLink="/enterprises/{{data.id}}">
                <img class="rounded-left profile-image" />
            </a>
            
        </div>
        <div class="col py-2">
            <a routerLink="/enterprises/{{data.id}}"
                    class="text-primary font-weight-normal">{{data.name}}</a>
        </div>
        <div class="ent-col py-2">
            <div class="mx-2 ">
                <span mat-button
                    [matMenuTriggerFor]="lead"
                    class="text-secondary" style="cursor: pointer" >
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </span>
                <mat-menu #lead="matMenu">
                    <span mat-menu-item (click)="remove()" >Eliminar</span>
                    <span mat-menu-item >Cancelar</span>
                    
                </mat-menu>
                
            </div>
        </div>
    </div>
    

</div>
<div *ngIf="!isValid && !isDeleted" class="m-3">
    <span class="small text-secondary">No Válido</span>
</div>

<div *ngIf="isDeleted"></div>