<div class="row">
    <div class="col-12 col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-unstoppable"
                [matAutocomplete]="auto"
                [formControl]="control">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let ship of filtered" [value]="ship.firstname + ' ' + ship.lastname">
                    <span><i class="fa fa-user"></i></span>
                    {{ ship.firstname + ' ' + ship.lastname }}
                </mat-option>
            </mat-autocomplete>
            <div class="input-group-append">
                <mat-form-field appearance="outline" class="small append-form-field">
                    <mat-label>Seleccionar Rol</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let role of roles">
                            {{role.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <span class="btn btn-light border d-block" style="padding-top:10px;height:100%">Agregar</span>
    </div>
</div>
