.ent-cover {
    display: block;
    .ent-cover-img {
        display: block;
        width: 100%;
        min-height: 310px;
        background-color: #999;
    }
    .ent-cover-options {
        padding: 15px;
        display: block;
        position: absolute;

    }
}