<div class="ent-cover">
    <div class="ent-cover-options">
        <span class="btn btn-sm btn-outline-light">
            <i class="fa fa-camera"></i>
            Cambiar foto de portada
        </span>
    </div>
    <img class="ent-cover-img" />
</div>